fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-core
langchain-aws

httpx
pydantic
boto3
pytest
pytest-asyncio
pytest-cov

prometheus-fastapi-instrumentator
mcp>=1.27,<2
langchain-mcp-adapters==0.3.0